<script context="module">
  export const load = async ({ params, fetch }) => {
    const currentCategory = params.category;
    const response = await fetch('/api/posts.json');
    const posts = await response.json();

    const matchingPosts = posts
      .filter(post => post.meta.categories?.includes(currentCategory));

    return {
      props: {
        posts: matchingPosts,
      },
    };
  };
</script>

<script>
  export let posts;
</script>

{#if posts.length}
OK
{:else}
No match found
{/if}