<script>
  import { goto } from "$app/navigation";
  import { ethers } from "ethers";
  import { contracts } from "svelte-ethers-store";

  import Button from "../../components/button/Button.svelte";
  import BackArrow from "../../components/icons/BackArrow.svelte";
  import RequiresConnectedToBlockchain from "../../components/gitdao/error-modals/RequiresConnectedToBlockchain.svelte";
  import RequiresConnectedToGitDaoContract from "../../components/gitdao/error-modals/RequiresConnectedToGitDaoContract.svelte";
import RequiresHasSigner from "../../components/gitdao/error-modals/RequiresHasSigner.svelte";

  let commitMultihash;
  let commitMultihashIsInvalid = false;

  function createProposal() {
    const prefixedCommitMultihash = "0x" + document.getElementById("commit_multihash").value;

    if (!ethers.utils.isHexString(prefixedCommitMultihash)) {
      commitMultihashIsInvalid = true;
    } else {
      commitMultihashIsInvalid = false;
      $contracts.gitDao.createProposal(prefixedCommitMultihash);
      goto("/app");
    }
  }
</script>

<h1 class="mb-4 pl-6">
  Create a Proposal
</h1>

<div class="rounded-lg bg-gray-800 p-6">

  <a href="/app" class="flex text-base mb-6">
    <BackArrow />
    <span class="pl-2">
      All proposals
    </span>
  </a>

  <RequiresConnectedToBlockchain>
    <RequiresHasSigner>
      <RequiresConnectedToGitDaoContract>
        <p>
          A proposal enables you to propose that a given commit becomes the new officially endorsed version of a project.
        </p>

        <p class="mt-6">
          Commits on any GitDAO are identified by their <a class="text-blue-500" href="https://multiformats.io/multihash/">multihash</a>, a standard to encode hashes produced by any hashing algorithm in a parseable way.
          Git uses SHA-1, and intends to move to SHA-256 hashes.
          But you can just give use whatever git hash you find and we will manage the rest for you 😉.
          You can find a commit"s hash using the git command line, in the desktop client of Radicle, <a class="text-blue-500" href="https://github.com/radicle-dev/radicle-upstream">Upstream</a>, or whatever graphical client you use for your git project.
        </p>

        <h3>Commit to Propose</h3>
        {#if commitMultihashIsInvalid}
          <p class="text-red-500">
            The proposed commit is not a valid SHA-1 commit hash.
          </p>
        {/if}
        <form
          class="flex items-baseline mt-6"
          class:text-red-500={commitMultihashIsInvalid}
          on:submit|preventDefault="{createProposal}"
        >
          <label
            for="commit_multihash"
            class="flex-1 mr-4"
          >
            <input
              type="text"
              id="commit_multihash"
              name="commit_multihash"
              bind:value={commitMultihash}
              placeholder="Commit SHA-1"
              class="w-full"
            >
          </label>
          <div class="flex-0">
            <Button>
              <input class="cursor-pointer" type="submit" value="Create new Proposal">
            </Button>
          </div>
        </form>
      </RequiresConnectedToGitDaoContract>
    </RequiresHasSigner>
  </RequiresConnectedToBlockchain>
</div>
