<!-- See Svelte Ethers Store Library: https://gitlab.com/clb1/svelte-ethers-store -->
<!-- See Ethers Library: https://docs.ethers.io/v5/ -->

<script>
  import { signerAddress } from "svelte-ethers-store";

  import Button from "../../components/button/Button.svelte";
  import GovernanceTokensOfOwner from "../../components/gitdao/governance-token/GovernanceTokensOfOwner.svelte";
  import Proposals from "../../components/gitdao/proposals/Proposals.svelte"
  import LinkToMintPage from "../../components/gitdao/governance-token/LinkToMintPage.svelte";
  import TotalPowerWidget from "../../components/gitdao/governance-token/TotalPowerWidget.svelte";
</script>

<!-- TODO Add GitDao name, fetched from constructor params -->

{#if $signerAddress}

  <h2 class="flex mb-4">
    <div class="flex-1">
      Your Governance Tokens
    </div>
    <div class="flex-0">
      <LinkToMintPage />
    </div>
  </h2>

  <div class="flex">
    <div class="flex-initial">
      <TotalPowerWidget />
    </div>
  </div>

  <div class="mt-6">
    <GovernanceTokensOfOwner />
  </div>

{/if}

<h2 class="flex items-baseline mb-6">
  <div class="flex-1">
    Proposals
  </div>
  <div class="flex-0">
    <a class="text-base" href="/app/create-proposal">
      <Button>
        Create Proposal
      </Button>
    </a>
  </div>
</h2>
<Proposals />
