<script>
  import { goto } from "$app/navigation";
  import { ethers } from "ethers";
  import { contracts, signerAddress } from "svelte-ethers-store";

  import Button from "../../components/button/Button.svelte";
  import BackArrow from "../../components/icons/BackArrow.svelte";
  import RequiresConnectedToBlockchain from "../../components/gitdao/error-modals/RequiresConnectedToBlockchain.svelte";
  import RequiresConnectedToGitDaoContract from "../../components/gitdao/error-modals/RequiresConnectedToGitDaoContract.svelte";
  import RequiresHasSigner from "../../components/gitdao/error-modals/RequiresHasSigner.svelte";

  function mintToken() {
    if ($contracts) {
      $contracts.gitDao.mint($signerAddress);
      goto("/app")
    }
  }
</script>

<h1 class="mb-4 pl-6">
  Mint Yourself a Governance Token
</h1>

<div class="rounded-lg bg-gray-800 p-6">

  <a href="/app" class="flex text-base mb-6">
    <BackArrow />
    <span class="pl-2">
      Git Dao
    </span>
  </a>

  <RequiresConnectedToBlockchain>
    <RequiresHasSigner>
      <RequiresConnectedToGitDaoContract>
        <p>
          This page enables you to mint yourself a governance token for test purposes.
          In real-life use cases, this will not be possible; then you will only be able to earn a token once you get a proposal accepted.
        </p>

        <div class="grid justify-items-center mt-6">
          <span
            class="text-base"
            on:click={mintToken}
          >
            <Button>
              Mint Yourself a Governance Token
            </Button>
          </span>
        </div>
      </RequiresConnectedToGitDaoContract>
    </RequiresHasSigner>
  </RequiresConnectedToBlockchain>
</div>
