<script>
  import { contracts } from "svelte-ethers-store";

  import { page } from "$app/stores";
  import { timeAgo } from "$lib/utils/time";

  import { ProposalState, proposalsById } from "$lib/gitdao/proposals";
  import { votesByProposalId } from "$lib/gitdao/votes";

  import Button from "../../components/button/Button.svelte";
  import ProposalStateWidget from "../../components/gitdao/proposals/ProposalStateWidget.svelte";
  import Votes from "../../components/gitdao/proposals/votes/Votes.svelte";
  import BackArrow from "../../components/icons/BackArrow.svelte";
  import RequiresConnectedToBlockchain from "../../components/gitdao/error-modals/RequiresConnectedToBlockchain.svelte";
  import RequiresConnectedToGitDaoContract from "../../components/gitdao/error-modals/RequiresConnectedToGitDaoContract.svelte";

  const sumPower = (totalPower, currentVote) => totalPower + currentVote.power;
  const id = $page.params.id;

  $: proposal = !$proposalsById ? undefined : $proposalsById.get(id);
  $: votesOfProposal = !proposal ? [] : $votesByProposalId.get(proposal.id.toString());
  $: powerInFavor =
    !votesOfProposal ?
    0 :
    votesOfProposal
      .filter((vote) => vote.isInFavor)
      .reduce(sumPower, 0);
  $: powerAgainst =
    !votesOfProposal ?
      0 :
      votesOfProposal
        .filter((vote) => !vote.isInFavor)
        .reduce(sumPower, 0);

  function finishProposal() {
    if ($contracts.gitDao) {
      $contracts.gitDao.finishProposal(id);
    }
  }
</script>

<h1 class="flex mb-4 pl-6">
  <div class="flex-1">
    Proposal {id}
  </div>
  {#if proposal}
    <div class="flex-0">
      <ProposalStateWidget proposalState={proposal.state} />
    </div>
  {/if}
</h1>

<div class="rounded-lg bg-gray-800 p-6">

  <a href="/app" class="flex text-base mb-6">
    <BackArrow />
    <span class="pl-2">
      All proposals
    </span>
  </a>

  <RequiresConnectedToBlockchain>
    <RequiresConnectedToGitDaoContract>
      {#if !proposal}
        <p class="has-errors">
          Proposal {id} does not seem to exists...
        </p>
      {:else}
        <div class="flex gap-3">
          <div class="flex-1 rounded-lg bg-gray-700 p-4 text-green-500">
            <div class="flex font-semibold">
              <div class="flex-1">
                For
              </div>
              <div class="flex-0">
                {powerInFavor}
              </div>
            </div>
          </div>
          <div class="flex-1 rounded-lg bg-gray-700 p-4 text-red-500">
            <div class="flex font-semibold">
              <div class="flex-1">
                Against
              </div>
              <div class="flex-0">
                {powerAgainst}
              </div>
            </div>
          </div>
        </div>

        {#if proposal.state === ProposalState.VotingOpened}
          <!-- Check that the user has some tokens -->
          <div class="grid justify-items-center mt-6">
            <a href="/app/vote-on-proposal-{proposal.id}">
              <Button>
                Vote
              </Button>
            </a>
          </div>
        {/if}

        <h3>Proposed Commit</h3>
        <p>
          {proposal.proposedCommitMultihash}
        </p>

        <h3>Proposer</h3>
        <p>
          {proposal.createdBy}
        </p>

        <h3>Created</h3>
        <p>
          {timeAgo(proposal.createdAt)}
        </p>

        <h3>Voting Opens</h3>
        <p>
            {timeAgo(proposal.votingOpensAt)}
        </p>

        <h3>Voting Closes</h3>
        <p>
          {timeAgo(proposal.votingClosesAt)}
        </p>

        <!-- challenges -->

        {#if proposal.state === ProposalState.VotingElapsed}
          <div class="grid justify-items-center mt-6">
            <span on:click={finishProposal}>
              <Button>
                Finish Proposal
              </Button>
            </span>
          </div>
        {/if}
      {/if}
    </RequiresConnectedToGitDaoContract>
  </RequiresConnectedToBlockchain>
</div>

{#if proposal}
  <div class="px-6">
    <Votes proposalId={proposal.id} />
  </div>
{/if}

<style>
  .has-errors {
    color: red;
  }
</style>
