<script>
  import { goto } from '$app/navigation';
  import { page } from "$app/stores";

  import { proposalsById } from "$lib/gitdao/proposals";
  import { governanceTokensByOwner } from "$lib/gitdao/governance-tokens";
  import { votesByProposalId } from "$lib/gitdao/votes";
  import { contracts, signerAddress } from "svelte-ethers-store";

  import ProposalStateWidget from "../../components/gitdao/proposals/ProposalStateWidget.svelte";
  import GovernanceToken from "../../components/gitdao/governance-token/GovernanceToken.svelte";
  import Button from "../../components/button/Button.svelte";
  import BackArrow from "../../components/icons/BackArrow.svelte";

  const id = $page.params.id;
  $: proposal = $proposalsById ? $proposalsById.get(id) : undefined;
  $: alreadyUsedTokens =
    !$votesByProposalId ?
    new Set() :
    (
      !$votesByProposalId.get(id) ?
      new Set() :
      $votesByProposalId.get(id).reduce((usedTokenIds, vote) => {
        for (const tokenId of vote.tokenIds) {
          usedTokenIds.add(tokenId.toString());
        }
        return usedTokenIds
      }, new Set())
    );
  $: availableGovernanceTokens =
    !$governanceTokensByOwner ?
      [] :
      (
        !$governanceTokensByOwner.get($signerAddress) ?
          [] :
          $governanceTokensByOwner.get($signerAddress).filter((token) => !alreadyUsedTokens.has(token.id.toString()))
      )
  let governanceTokensToUseForVoting = [];
  let isInFavorOfProposal = true;
  let atLeastOneTokenMustBeSelected = false;

  async function voteOnProposal() {
    atLeastOneTokenMustBeSelected = false;
    if (governanceTokensToUseForVoting.length === 0) {
      atLeastOneTokenMustBeSelected = true;
      return;
    }

    // TODO Handle errors
    try {
      await $contracts.gitDao.castVote(
        id,
        governanceTokensToUseForVoting,
        isInFavorOfProposal
      );
    } catch(error) {
      console.error("Could not cast vote!", error);
    }

    goto(`/app/proposal-${id}`);
  }
</script>

<h1 class="flex mb-4 pl-6">
  <div class="flex-1">
    Vote on Proposal {id}
  </div>
  {#if proposal}
    <div class="flex-0">
      <ProposalStateWidget proposalState={proposal.state} />
    </div>
  {/if}
</h1>

<div class="rounded-lg bg-gray-800 p-6">
  {#if !proposal}
    <p class="has-errors">
      Proposal {id} does not seem to exists...
    </p>
  {:else}

    <a href="/app/proposal-{proposal.id}" class="flex text-base">
      <BackArrow />
      <span class="pl-2">
        Proposal #{proposal.id}
      </span>
    </a>

    <h3>Proposed Commit</h3>
    <p>
      {proposal.proposedCommitMultihash}
    </p>
    
    {#if !$governanceTokensByOwner}
      <p class="has-errors">
        Could not retrieve tokens from blockchain.
      </p>
    {:else if !availableGovernanceTokens.length}
      <p class="mt-6 text-red-500">
        You have no governance tokens (left)...
        Unfortunately, this prevents you from voting 😢.
      </p>
    {:else}

      <form
        on:submit|preventDefault="{voteOnProposal}"
      >
        <div class="flex gap-3 mt-6">
          <div class="flex-1 rounded-lg bg-gray-700 p-4 text-green-500">
            <div class="flex font-semibold">
              <div class="flex-1">
                In Favor
              </div>
              <div class="flex-0">
                <input
                  type=radio
                  bind:group={isInFavorOfProposal}
                  name="isInFavorOfProposal"
                  value={true}
                >
              </div>
            </div>
          </div>
          <div class="flex-1 rounded-lg bg-gray-700 p-4 text-red-500">
            <div class="flex font-semibold">
              <div class="flex-1">
                Against
              </div>
              <div class="flex-0">
                <input
                  type=radio
                  bind:group={isInFavorOfProposal}
                  name="isInFavorOfProposal"
                  value={false}
                >
              </div>
            </div>
          </div>
        </div>

        <!-- TODO Only include tokens that have not already been used. -->
        <!-- TODO Add button to select all tokens at once -->
        <div class="mt-6">
          {#each availableGovernanceTokens as governanceToken (governanceToken.id)}
            <label for="governanceToken-{governanceToken.id}" class="flex items-center">
              <div class="flex-1">
                <GovernanceToken {governanceToken} />
              </div>
              <input
                type="checkbox"
                id="governanceToken-{governanceToken.id}"
                bind:group={governanceTokensToUseForVoting}
                name="governanceToken-{governanceToken.id}"
                value="{governanceToken.id}"
                class="flex-none"
              >
            </label>
          {/each}
          {#if atLeastOneTokenMustBeSelected}
            <div
              class:has-errors={atLeastOneTokenMustBeSelected}
            >
              At least one governance token must be selected.
            </div>
          {/if}
        </div>
        <div class="grid justify-items-center mt-6">
          <Button>
            <input class="cursor-pointer" type="submit" value="Vote">
          </Button>
        </div>
      </form>
    {/if}
  {/if}
</div>

<style>
  .has-errors {
    color: red;
  }
</style>
