<script>
  export let categories = [];
  export let date;
  export let title;
</script>

<svelte:head>
  <title>{title} - The Git DAO</title>
  <meta property="og:title" content={title} />

  <!-- Add support for Mathjax -->
  <!-- It would be better to render math at compile time instead of runtime, but the remark and rehpe plugins never worked... -->
  <script>
    MathJax = {
      tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
    };
  </script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</svelte:head>

<div
class="blog_post">

  <h1>
    <!-- <a href="#"> -->
      {title}
    <!-- </a> -->
  </h1>

  <p>Published: {date}</p>

  {#if categories.length}
    <aside>
      <div>Posted in:</div>
      <ul>
        {#each categories as category}
          <li>
            <a href="/blog/categories/{category}">
              {category}
            </a>
          </li>
        {/each}
      </ul>
    </aside>
  {/if}

  <div
  class="blog_post_content">
    <slot />
  </div>
</div>
