<script context="module">
  export const load = async ({ fetch }) => {
    const posts = await fetch('/api/posts.json')
    const allPosts = await posts.json()
  
    return {
      props: {
        posts: allPosts
      }
    }
  }
</script>

<script>
  // export let categories;
  export let posts
</script>

<h1 class="h1">Blog</h1>

<ul>
  {#each posts as post}
    <li>
      <div>
        <a
        href={post.path}
        sveltekit:prefetch
        >
          {post.meta.title}
        </a>
      </div>
      Published {post.meta.date}
    </li>
  {/each}
</ul>
