<script context="module">
  export const load = ({ url }) => {
    return {
      props: {
        pathname: url.pathname,
      },
    };
  };
</script>

<script>
	import "../app.css";
  import Navbar from "../components/navbar/Navbar.svelte";
  import { fade } from "svelte/transition";
  import ResponsiveFixedWidth from "../components/layout/ResponsiveFixedWidth.svelte";

  export let pathname;
</script>

<div class="standard-formatting">
  <Navbar />
  {#key pathname}
    <main in:fade={{ duration: 50, delay: 50 }} out:fade={{ duration: 50 }}>

      <ResponsiveFixedWidth>
        <slot />
      </ResponsiveFixedWidth> 
    </main>
  {/key}
</div>
