<script context="module">
  export const load = ({ url }) => {
    return {
      props: {
        pathname: url.pathname,
      },
    };
  };
</script>

<script>
  import { ethers } from "ethers";
  import { fade } from "svelte/transition";

	import "../app.css";

  import RequiresConnectedToBlockchain from "../components/gitdao/error-modals/RequiresConnectedToBlockchain.svelte";
  import RequiresConnectedToGitDaoContract from "../components/gitdao/error-modals/RequiresConnectedToGitDaoContract.svelte";
  import RequiresHasSigner from "../components/gitdao/error-modals/RequiresHasSigner.svelte";
  import ResponsiveFixedWidth from "../components/layout/ResponsiveFixedWidth.svelte";
  import BlockchainModal from "../components/gitdao/error-modals/BlockchainModal.svelte";
  import GitDaoModal from "../components/gitdao/error-modals/GitDaoModal.svelte";

  export let pathname;
</script>

<div class="gitdao-app">
  <div class="bg-gray-900 border-b border-gray-700 p-3">
    <div class="flex justify-between items-baseline">
      <div class="flex-0">
        <BlockchainModal />
      </div>
      <a class="flex-initial text-2xl" href="/app">
        Example GitDao
      </a>
      <div class="flex-0">
        <GitDaoModal />
      </div>
    </div>
  </div>

  {#key pathname}
  <main in:fade={{ duration: 50, delay: 50 }} out:fade={{ duration: 50 }}>
    <ResponsiveFixedWidth>
      <RequiresConnectedToBlockchain>
        <RequiresHasSigner>
          <RequiresConnectedToGitDaoContract>
            <slot />
          </RequiresConnectedToGitDaoContract>
        </RequiresHasSigner>
      </RequiresConnectedToBlockchain>
    </ResponsiveFixedWidth> 
  </main>
  {/key}
</div>
