<script>
  import Button from "../components/button/Button.svelte";
</script>

<h1>
  Welcome to TheGitDAO
</h1>

<p>
  I'm Yves, and this is my Master Thesis project.
  I study at ETH Zurich, and do this project in collaboration with <a href="https://switch.ch">Switch</a>, the Swiss Internet backbone provider.
</p>

<p>
  This project is about building a DAO tempalte targeting Open Source projects specifically.
  Its main features are as follow:
</p>

<ul>
  <li>
    Integrates with <a href="https://radicle.xyz">Radicle</a>
  </li>
  <li>
    Project ownership is distributed through time-limited ERC721 governance tokens minted and given to developers that contribute code.
  </li>
</ul>

<p>
  If you want to help out, join our Discord!
  This is of course an Open Source project as well 😉.
</p>

<div class="pt-8 pb-16 flex flex-wrap justify-center gap-6">
  <div class="flex-none">
    <a href="https://discord.gg/UM5tJ8nK">
      <Button>
        Join Discord!
      </Button>
    </a>
  </div>
  <div class="flex-none">
    <a href="https://gitlab.com/gitdao">
      <Button>
        To the Source Code
      </Button>
    </a>
  </div>
</div>
