<span class="inline-block p-px relative bg-gradient-to-r from-yellow-500 to-pink-500 rounded-lg cursor-pointer">
  <span class="inline-block px-3 py-1 text-white bg-gray-900 rounded-lg cursor-pointer">
    <slot />
  </span>
</span>
