<script>
  import { signerAddress } from "svelte-ethers-store";
  
  import { governanceTokensByOwner } from "$lib/gitdao/governance-tokens";

  import GovernanceToken from "./GovernanceToken.svelte"

  export let ownerAddress = $signerAddress;
</script>

{#if !$governanceTokensByOwner}
  <p class="has-errors">
    Could not retrieve tokens from blockchain.
  </p>
{:else if !$governanceTokensByOwner.get(ownerAddress)}
  <p>
    You own no tokens 😢...
  </p>
{:else}
  <div class="flex gap-x-0 flex-wrap">
    {#each $governanceTokensByOwner.get(ownerAddress) as governanceToken}
      <div class="flex-none basis-1/2">
        <GovernanceToken {governanceToken}/>
      </div>
    {/each}
  </div>
{/if}

<style>
  .has-errors {
    color: red;
  }
</style>
