<script>
  import coin from "$lib/assets/images/coin.png";
  export let governanceToken;
</script>

<div class="flex gap-4 mb-6">
  <div class="flex-none">
    <img src={coin} alt="coin" width="40px" />
  </div>
  <div class="flex-1">
    Token {governanceToken.id}
    <br />
    Power:
    <span class="font-semibold">
      {governanceToken.getCurrentPower()}
    </span>
  </div>
</div>
