<script>
  import { signerAddress } from "svelte-ethers-store";
  
  import { governanceTokensByOwner } from "$lib/gitdao/governance-tokens";

  export let ownerAddress = !$signerAddress ? "" : $signerAddress;

  const sumPower = (totalPower, token) => {
    return totalPower + token.getCurrentPower();
  };
  $: totalPower = !$governanceTokensByOwner ?
    0 :
    (
      !$governanceTokensByOwner.get(ownerAddress) ?
        0 :
        $governanceTokensByOwner.get(ownerAddress).reduce(sumPower, 0)
    );
</script>

<div class="flex gap-4 rounded-lg bg-gray-700 p-4">
  <div class="flex-0">
    Your Total Power
  </div>
  <div class="flex-0 font-semibold">
    {totalPower}
  </div>
</div>