<script>
	import { createEventDispatcher, onDestroy } from 'svelte';

  export let title = undefined;

	const dispatch = createEventDispatcher();
	const close = () => dispatch('close');

	let modal;

	const handle_keydown = e => {
		if (e.key === 'Escape') {
			close();
			return;
		}

		if (e.key === 'Tab') {
			// trap focus
			const nodes = modal.querySelectorAll('*');
			const tabbable = Array.from(nodes).filter(n => n.tabIndex >= 0);

			let index = tabbable.indexOf(document.activeElement);
			if (index === -1 && e.shiftKey) index = 0;

			index += tabbable.length + (e.shiftKey ? -1 : 1);
			index %= tabbable.length;

			tabbable[index].focus();
			e.preventDefault();
		}
	};

	const previously_focused = typeof document !== 'undefined' && document.activeElement;

	if (previously_focused) {
		onDestroy(() => {
			previously_focused.focus();
		});
	}
</script>

<svelte:window on:keydown={handle_keydown}/>

<div class="modal-background" on:click={close}></div>

<div class="modal bg-gray-900 rounded-lg">
  {#if title}
    <div class="border-b border-gray-700 px-6 pb-4">
      <h2>{title}</h2>
    </div>
  {/if}
  <div class="p-6">
    <slot></slot>
  </div>
  <div class="bg-gray-800 px-4 py-3 flex flex-row-reverse text-sm">
    <button
      on:click={close}
      type="button"
      class="flex-initial bg-gray-700 text-sm rounded-md border border-gray-600 hover:shadow-sm px-4 py-2 hover:bg-gray-900"
    >
      Close
    </button>
  </div>
</div>

<style>
	.modal-background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
    z-index: 1;
	}

	.modal {
		position: absolute;
		left: 50%;
		top: 50%;
		width: calc(100vw - 4em);
		max-width: 32em;
		max-height: calc(100vh - 4em);
		overflow: auto;
		transform: translate(-50%,-50%);
    z-index: 2;
	}
</style>
