<script>
  import ProposalStateWidget from "./ProposalStateWidget.svelte";

  export let proposal;
</script>

<a href="/app/proposal-{proposal.id}">
  <div
    class="flex items-baseline bg-gray-800 rounded-lg p-4 transition hover:shadow-md"
  >
    <div class="flex-1 font-semibold">
      Proposal #{proposal.id}
    </div>
    <div class="flex-0">
      <ProposalStateWidget proposalState={proposal.state} />
    </div>
  </div>
</a>