<script>
  import { proposalsById } from "$lib/gitdao/proposals";
  import ProposalItem from "./ProposalItem.svelte";
</script>

{#if !$proposalsById}
  <p class="has-errors">
    Could not retrieve proposals from blockchain.
  </p>
{:else if $proposalsById.size == 0}
  <p>
    No proposals...
  </p>
{:else}
  <ul>
    {#each Array.from($proposalsById.values()) as proposal (proposal.id)}
      <li class="mb-4">
        <ProposalItem {proposal} />
      </li>
    {/each}
  </ul>
{/if}

<style>
  .has-errors {
    color: red;
  }
</style>