<script>
  export let proposalState;
  export let textClass = "text-base";
</script>

<div
  class="{textClass} px-3 py-1 p border rounded-lg"
  class:border-gray-500={proposalState === "pending" || proposalState === "voting_elapsed" || proposalState === "canceled"}
  class:text-gray-500={proposalState === "pending" || proposalState === "voting_elapsed" || proposalState === "canceled"}
  class:border-blue-500={proposalState === "voting_opened"}
  class:text-blue-500={proposalState === "voting_opened"}
  class:border-green-500={proposalState === "succeeded"}
  class:text-green-500={proposalState === "succeeded"}
  class:border-red-500={proposalState === "defeated"}
  class:text-red-500={proposalState === "defeated"}
>
  {proposalState}
</div>
