<script>
  import NavbarItem from "./NavbarItem.svelte";
  import ResponsiveFixedWidth from "../layout/ResponsiveFixedWidth.svelte"

  let open = false;

  const items = [
    {
      href: "/app",
      text: "App"
    },
    {
      href: "/ideas",
      text: "Ideas"
    },
    {
      href: "/decisions",
      text: "Decisions"
    },
    {
      href: "/blog",
      text: "Blog"
    },
  ];
</script>

<nav class="dark:bg-gray-900 dark:border-b dark:border-gray-700">
  <ResponsiveFixedWidth class="px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">

      <!-- Mobile menu button-->
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        
        <button
        type="button"
        on:click={() => {open = !open}}
        class="inline-flex items-center justify-center p-2 rounded-md dark:text-gray-400 hover:dark:text-white hover:dark:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        aria-controls="mobile-menu"
        aria-expanded="false">

          <span class="sr-only">Open main menu</span>
          
          <!-- Icon when menu is open. -->
          <svg
          class:hidden={!open}
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
          
          <!-- Icon when menu is closed. -->
          <svg
          class:hidden={open}
          class="block h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>

      <!-- Navbar Center Content -->
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">

        <!-- Logo -->
        <div class="flex-shrink-0 flex items-center">
          <a class="italic" href="/">
            TheGitDAO
          </a>
        </div>

        <!-- Navbar Items -->
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            {#each items as item}
              <NavbarItem href={item.href}>{item.text}</NavbarItem>
            {/each}
          </div>
        </div>
      </div>

      <!-- Navbar Right Content -->
      <!-- <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <button type="button" class="dark:bg-gray-800 p-1 rounded-full dark:text-gray-400 hover:dark:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
          <span class="sr-only">View notifications</span>
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
          </svg>
        </button>
      </div> -->
    </div>
  </ResponsiveFixedWidth>

  <!-- Mobile menu -->
  <div
  id="mobile-menu"
  class="{open ? "sm:hidden" : "hidden"}">
    <div class="px-2 pt-2 pb-3 space-y-1">
      {#each items as item}
        <NavbarItem href={item.href}>{item.text}</NavbarItem>
      {/each}
    </div>
  </div>
</nav>