<!--
  A link in the navbar.

  The same component is used both for the mobile dropdown menu and for the regular navbar.
-->

<script>
  import { getStores } from '$app/stores';

  export let href;

  const activeClasses = "dark:bg-gray-900 dark:text-white";
  const defaultClasses = "dark:text-gray-300 hover:dark:bg-gray-700 hover:dark:text-white";

  let isActive = false;
  $: classes = isActive ? activeClasses : defaultClasses;

  getStores().page.subscribe($page => isActive = $page.url.pathname === href);
</script>

<a
{href}
class="{classes} block sm:inline px-3 py-2 rounded-md text-base sm:text-sm font-medium"
aria-current="{isActive ? "page" : ""}"
>
  <slot></slot>
</a>
