<script>
  import coin from "$lib/assets/images/coin.png";
  export let vote;
</script>

<div class="flex gap-4 mb-4">
  <div class="flex-none">
    <img src={coin} alt="coin" width="40px" />
  </div>
  <div class="flex-1">
    Token {vote.tokenIds} by <span class="text-blue-500" title={vote.voter}>voter</span>
    <br />
    Power:
    <span
      class:text-green-500={vote.isInFavor}
      class:text-red-500={!vote.isInFavor}
      class="font-semibold"
    >
      {vote.power}
    </span>
  </div>
</div>
