<script>
  import { votesByProposalId } from "$lib/gitdao/votes";
  import Vote from "./Vote.svelte";

  export let proposalId;

  let votesOfProposal;
  let votesInFavor = [];
  let votesAgainst = [];

  $: {
    votesOfProposal = $votesByProposalId.get(proposalId.toString());
    votesInFavor = !votesOfProposal ? [] : votesOfProposal.filter((vote) => vote.isInFavor);
    votesAgainst = !votesOfProposal ? [] : votesOfProposal.filter((vote) => !vote.isInFavor);
  }
</script>

{#if !$votesByProposalId}
  <p class="text-red-500">
    Could not retrieve votes from blockchain.
  </p>
{:else if !votesOfProposal}
  <h3>Votes</h3>
  <p>
    No votes yet...
  </p>
{:else}
  <h3 class="mb-4">Votes</h3>
  <div class="flex">
    <div class="flex-none basis-1/2">
      <ul>
        {#each votesInFavor as vote}
          <li>
            <Vote {vote} />
          </li>
        {/each}
      </ul>
    </div>
    <div class="flex-none basis-1/2">
      <ul>
        {#each votesAgainst as vote}
          <li>
            <Vote {vote} />
          </li>
        {/each}
      </ul>
    </div>
  </div>
{/if}
