<script>
  import { connected, provider } from "svelte-ethers-store";

  import Modal from "../../layout/Modal.svelte";

  let showBlockchainModal = false;
</script>

{#if showBlockchainModal}
<Modal on:close={() => showBlockchainModal = false}>
  {#await $provider.getNetwork()}
    <p>
      Retrieving information...
    </p>
  {:then network}
    <p>
      Connected to chain {network.name} (ID {parseInt(network.chainId)}).
    </p>
    <slot />
  {:catch error}
    <p style="color: red">
      {error.message}
    </p>
  {/await}
</Modal>
{/if}

{#if $provider}
  {#await $provider.getNetwork()}
    <span
      class="inline-block py-1 px-3 border rounded-lg border-gray-500"
    >
      Computing...
    </span>
  {:then network}
    <span
      on:click={() => showBlockchainModal = true}
      class="cursor-pointer inline-block py-1 px-3 border rounded-lg"
      class:border-green-500={$connected && parseInt(network.chainId) == 96970}
      class:text-green-500={$connected && parseInt(network.chainId) == 96970}
      class:border-red-500={!$connected || parseInt(network.chainId) != 96970}
      class:text-red-500={!$connected || parseInt(network.chainId) != 96970}
    >
      Blockchain
    </span>
  {:catch error}
    <p class="text-red-500 mt-6">
      {error.message}
    </p>
  {/await}
{:else}
  <span
    on:click={() => showBlockchainModal = true}
    class="inline-block py-1 px-3 border rounded-lg border-orange-500 text-orange-500"
  >
    No Blockchain...
  </span>
{/if}