<script>
  import { onMount } from "svelte";

  import { contracts } from "svelte-ethers-store";

  import { connectToGitDaoContract, updateGitDaoData } from "$lib/gitdao/contract";

  import Modal from "../../layout/Modal.svelte";
  import Checkmark from "../../icons/Checkmark.svelte";
  import GitDaoAddress from "./GitDaoAddress.svelte";

  let showGitDaoModal = false;

  // TODO Transform into a store
  let gitDaoAddress = "0xc37A7552b31c78495Ad402b2B3847dF15903c5E4";

  onMount(
    async () => {
      if (gitDaoAddress !== "") {
        connectToGitDaoContract(gitDaoAddress);
      }
    }
  )

  $: updateGitDaoData($contracts.gitDao);
</script>

{#if showGitDaoModal}
<Modal on:close={() => showGitDaoModal = false} title="GitDao Contract">
  {#if !$contracts.gitDao}
    <p>
      You must connect to a GitDao contract.
    </p>

    <GitDaoAddress />
  {:else}

    <h3 style="padding-top: 0px;">Smart Contract Address</h3>
    <p>
      {$contracts.gitDao.address}.
    </p>

    <GitDaoAddress />

    <slot />
  {/if}
</Modal>
{/if}

<div
  on:click={() => showGitDaoModal = true}
  class="flex inline-block cursor-pointer py-1 px-3 border border-green-500 text-green-500 rounded-lg"
  class:border-green-500={$contracts.gitDao}
  class:text-green-500={$contracts.gitDao}
  class:border-red-500={!$contracts.gitDao}
  class:text-red-500={!$contracts.gitDao}
>
  <div class="flex-initial mr-2">
    GitDao
  </div>
  <div class="flex-initial">
    <Checkmark fillClass={$contracts.gitDao ? "fill-green-500" : "fill-red-500"}/>
  </div>
</div>
