<script>
  import { connectToGitDaoContract } from "$lib/gitdao/contract";
  import Button from "../../button/Button.svelte";

  let addressIsInvalid = false;

  let gitDaoAddress;
</script>

<h3>Connect to Another GitDao Contract</h3>
{#if addressIsInvalid}
  <p class="text-red-500">
    Address is invalid.
  </p>
{/if}
<form
  class="flex items-baseline"
  class:text-red-500={addressIsInvalid}
  on:submit|preventDefault={() => addressIsInvalid = connectToGitDaoContract(gitDaoAddress)}
>
  <label
    for="gitdao_address"
    class="flex-1 mr-4"
  >
    <input
      type="text"
      id="gitdao_address"
      name="gitdao_address"
      placeholder="GitDAO Contract Address"
      bind:value={gitDaoAddress}
      class="w-full"
    >
  </label>
  <div class="flex-0">
    <Button>
      <input type="submit" value="Connect">
    </Button>
  </div>
</form>
