<script>
  import { contracts } from "svelte-ethers-store";
</script>

{#if !$contracts.gitDao}
  <p class="text-red-500 mt-6">
    You must connect to a GitDAO contract.
  </p>
{:else}
  <slot />
{/if}
