<script>
  import { signerAddress } from "svelte-ethers-store";
</script>

{#if !$signerAddress}
  <p class="text-red-500 mt-6">
    You must connect a signer.
    Please use a compatible web3 provider like MetaMask.
  </p>
{:else}
  <slot />
{/if}