<script>
  import { onMount } from "svelte";
  import { connected, chainId, defaultEvmStores, provider } from "svelte-ethers-store";

  onMount(
    async () => {
      // Connect to a blockchain when the component is mounted.
      defaultEvmStores.setProvider();
    }
  )
</script>

{#if !$connected}
  <p class="text-red-500 mt-6">
    You must connect to a blockchain using a web3 provider like MetaMask.
  </p>
{:else}
  {#if $chainId != 96970}
    <p class="text-red-500 mt-6">
      You are connected to a blockchain with ID {$chainId}.
      GitDao is only deployed on the Mantis testnet (ID 96970).
      You must connect to the Mantis blockchain.
    </p>
    <p>
      To add a new network to MetaMask, click on the network dropdown, click the "Add Network" button, then enter the following information:
    </p>
    <ul>
      <li>Network Name: Mantis Testnet</li>
      <li>New RPC URL: https://mantis-rpc.switch.ch</li>
      <li>Chain ID: 96970</li>
      <li>Currency Symbol: MANTIS</li>
      <li>Block Explorer URL: https://blockscout.mantis.hexapod.network/</li>
    </ul>
    <p>
      You can check these information at <a href="https://mantis.switch.ch/rpc">https://mantis.switch.ch/rpc</a>.
    </p>
  {:else}
    <slot />
  {/if}
{/if}
