@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Andada Pro Font Face */

  /* latin */
  @font-face {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/andada_400_normal_latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/andada_400_normal_latin_ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  
  /* latin */
  @font-face {
    font-family: 'Andada Pro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/static/andada_400_italic_latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Andada Pro';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/static/andada_400_italic_latin_ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/static/andada_600_normal_latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Andada Pro';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/static/andada_600_normal_latin_ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  /* latin */
  @font-face {
    font-family: 'Andada Pro';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/static/andada_600_italic_latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Andada Pro';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/static/andada_600_italic_latin_ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  /* Lato Font Face */

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/lato_latin_400_normal_latin.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/static/lato_latin_400_italic_latin.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/static/lato_latin_600_normal_latin.woff2) format('woff2');
  }

  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/static/lato_latin_600_italic_latin.woff2) format('woff2');
  }

  /* Global Styles */

  body {
    @apply bg-gray-900 text-gray-300 leading-loose;

    line-height: 1.625;
  }

  a {
    @apply cursor-pointer;
  }

  form button {
    @apply cursor-pointer;
  }

  input[type=text] {
    @apply bg-gray-900;
  }

  /* GitDao App */

  .gitdao-app * {
    @apply font-sans;
  }

  .gitdao-app h1 {
    @apply text-4xl font-semibold text-gray-200 pt-6;
  }

  .gitdao-app h2 {
    @apply text-2xl font-semibold text-gray-200 pt-6;
  }

  .gitdao-app h3 {
    @apply text-lg font-semibold text-gray-200 pt-6;
  }

  /* Standard Formatting */

  .standard-formatting * {
    @apply font-serif sm:text-2xl text-xl;
  };

  .standard-formatting h1 {
    @apply text-5xl font-semibold italic text-gray-200 pt-6 border-t border-gray-400 mt-24;
  }

  .standard-formatting h2 {
    @apply text-4xl font-semibold italic text-gray-200 pt-8 border-t border-gray-600 mt-16;
  }

  .standard-formatting h3 {
    @apply text-3xl font-semibold italic text-gray-200 pt-8 border-t border-gray-800 mt-8;
  }

  .standard-formatting p {
    @apply pt-6
  }

  .standard-formatting ul {
    @apply list-disc;
  }

  .standard-formatting ul li {
    @apply ml-8 mt-3;
  }
}
